---
layout: default
---

<div class="home">

  <h1 class="page-heading">ARTICLES</h1>

  {{ content }}

  <ul class="post-list">

    <div class="tag-list">
    </div>

    {% for post in site.posts %}
      <li>

        <span class="post-meta">{{ post.date | date_to_string }}</span>
      
        <h2>
          <a style="color: black;" class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape}}</a>
        </h2>
      
        <div class="post-tag">
          <ul>
            {% for tag in post.tags %}
            <li>
              <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
                <span class="tag">{{ tag }}</span>
              </a>
            </li>
            {% unless forloop.last %}{% endunless %}
            {% endfor %}
          </ul>
        </div>
      
      </li>
    {% endfor %}
    
  </ul>

</div>
